<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:image" content="../public/logo.png" name="og:image">
    <meta content="Deepfake detection is a web-based platform that leverages JPEN stack technology to implement deep learning algorithms, specifically CNN, GANs, Logistic regression." lang="en-us" name="description">
    <meta content="Cavernous Hoax Scanner, Deepfake Detector, DFD, Image tool, deepfake, image editor, project, CNN, WHITE LOTUS" lang="en-us" name="keywords">
    <title version="1.0">Cavernous Hoax Scanner</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/App.css"/>
    <link rel="icon" href="../public/favicon.ico"/>
</head>
<body onload="converter.engine_start();">
    <header id="header">
        <%= header %>
    </header>
    <section class="workspace" id="converterPage">
        <img src="../images/3d_donut.png" alt="chs" class="right-top-des"/>
        <h2>Image Converter</h2>
        <div class="underline"></div>
        <div class="containers">
            <div class="drop-box">
                <div class="placeholder"><i class="fa fa-file-image-o" style="font-size: 30px;"></i><br>Drag and drop an image, or click to select</div>
                <div class="preview"></div>
                <input type="file" id="file-input" accept="image/*" name="file-input" onchange="converter.engine_active();">
            </div>
        </div>
        <div class="progress-status">
            <div class="progress">Please wait a little..</div>
        </div>
        <div class="flx containers-option" id="op1">
            <div class="selecter">
                <select class="form-control" id="extension-input" onchange="" name="extension-input">
                    <option>Jpg</option>
                    <option>Jpeg</option>
                    <option selected="true">Png</option>
                    <option>Gif</option>
                    <option>Bmp</option>
                    <option>Svg</option>
                </select>
            </div>
            <div class="process-btn">
                <div class="btn btn-process" onclick="process();">Process</div>
            </div>
        </div>
        <img src="../images/glow1.png" alt="chs" class="left-middle-des"/>
        <img src="../images/3d_atom.png" alt="chs" class="right-middle-des"/>
        <img src="../images/arrow_circle.png" alt="chs" class="left-bottom-des"/>
        <div class="glass-status flx" id="op2">
            <span class="head">Media Accepted:</span><span class="data" id="media-acc">No Media Found!</span>
        </div>
        <div class="glass-status" id="op3">
            <div class="flx">
                <span class="head">Media Type:</span><span class="data" id="media-type">Not Selected!</span>
            </div>
            <div class="flx">
                <span class="head">Media Size:</span><span class="data" id="media-size">Not Selected!</span>
            </div>
            <div class="flx">
                <span class="head">Media Path:</span><span class="data" id="media-path">Not Selected!</span>
            </div>
        </div>
        <div class="htsi appear hide">
            <h2>How to Use it.</h2>
            <div class="underline"></div>
            <div class="card-group flo">
                <div class="card">
                    <h4 class="card-title"><span>1</span> Drop your Image</h4>
                    <p class="card-text text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas excepturi facilis libero natus ipsam neque expedita soluta ipsum assumenda unde?</p>
                </div>
                <div class="card">
                    <h4 class="card-title"><span>2</span> Media Get Permite</h4>
                    <p class="card-text text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas excepturi facilis libero natus ipsam neque expedita soluta ipsum assumenda unde?</p>
                </div>
            </div>
            <div class="card-group flo">
                <div class="card">
                    <h4 class="card-title"><span>3</span> Hit The Process</h4>
                    <p class="card-text text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas excepturi facilis libero natus ipsam neque expedita soluta ipsum assumenda unde?</p>
                </div>
                <div class="card">
                    <h4 class="card-title"><span>4</span> Download New Image</h4>
                    <p class="card-text text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas excepturi facilis libero natus ipsam neque expedita soluta ipsum assumenda unde?</p>
                </div>
            </div>
        </div>
        <div id="moreProduct" class="appear hide">
            <%= services %>
        </div>
        <div id="customerFeed">
            <%= feed %>
        </div>
    </section>
    <aside id="faq-help" class="appear hide">
        <%= faq %>
    </aside>
    <footer id="footer">
        <%= footer %>
    </footer>
</body>
<script src="../public/App.js"></script>
<script src="../public/default.min.js"></script>
<script>
    pageSet.push('header','converterPage','moreProduct', 'faq-help', 'footer');
    appearSet.push(['.htsi',380],['#moreProduct',580], ['#faq-help', 980]);
    currentPage.push('services');
    document.getElementById('header').innerHTML = document.getElementById('header').textContent;
    document.getElementById('footer').innerHTML = document.getElementById('footer').textContent;
    document.getElementById('moreProduct').innerHTML = document.getElementById('moreProduct').textContent;
    document.getElementById('faq-help').innerHTML = document.getElementById('faq-help').textContent;
    document.getElementById('customerFeed').innerHTML = document.getElementById('customerFeed').textContent;
    
    function directUpload(file){
        let extension = document.getElementById('extension-input').value.toLowerCase();
        const reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = function(){
            const imageData = reader.result;
            fetch('/converter/process', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({extension, imageData})
            }).then(response => response.json()).then(data => {
                afterResponce(data);
            }).catch(e=>console.log(e));
        }
    }
    function process(){
        let fileInput = document.getElementById('file-input');
        if(fileInput.files.length!=0){
            const file = fileInput.files[0];
            document.querySelector('.progress-status').style.display = 'block';
            if(document.getElementById('media-size').textContent.replace('Kb','')*1 > 400){
                compressAndUpload(file);
            }else{
                directUpload(file);
            }
        }
    }
    function compressAndUpload(file){
        const reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = function(event){
            const img = new Image();
            img.src = event.target.result;
            img.onload = function(){
                const canvas = document.createElement('canvas');
                const ctx = canvas.getContext('2d');
                const MAX_WIDTH = 124;
                const MAX_HEIGHT = 124;
                let width = img.width;
                let height = img.height;
                if (width > height) {
                    if (width > MAX_WIDTH) {
                        height *= MAX_WIDTH / width;
                        width = MAX_WIDTH;
                    }
                } else {
                    if (height > MAX_HEIGHT) {
                        width *= MAX_HEIGHT / height;
                        height = MAX_HEIGHT;
                    }
                }
                canvas.width = width;
                canvas.height = height;
                ctx.drawImage(img, 0, 0, width, height);
                canvas.toBlob(function(blob) {
                    const formData = new FormData();
                    formData.append('file', blob, 'compressed_image.jpg');
                    formData.append('extension', document.getElementById('extension-input').value.toLowerCase());
                    fetch('/converter/process', {
                        method: 'POST',
                        body: formData
                    }).then(response => response.json()).then(data => {
                        afterResponce(data);
                    })
                    .catch(e => console.log(e));
                }, 'image/jpeg', 0.7); // 0.7 is the quality of the image
            };
        };
    }
    function afterResponce(data){
        if(typeof data.error !== "undefined"){
            return system.handelPyError(data.error);
        }
        document.querySelector('.preview').innerHTML = `<img src=${JSON.stringify(data.path,null,2).replace('D:/.vscode/Vs programmes/Df Detector/server-side','.')} alt='loading' id="dimg"/>`;
        system.downloadImage('dimg','chs'+'_'+(new Date().getTime())+'.'+data.extension);
        document.getElementById('op1').innerHTML = `
            <div class="btn btn-process" onclick="route('');">Back</div>
            <div class="btn btn-info" onclick="system.downloadImage('dimg','chs'+'_'+(${new Date().getTime()})+'.'+'${data.extension}');"><i class="fa fa-download"></i> Download</div>
        `;
        document.getElementById('op2').style.display = 'none';
        document.getElementById('op3').style.display = 'none';
        document.getElementById('file-input').disabled = true;
        document.querySelector('.progress-status').style.display = 'none';
    }
</script>
</html>