<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Cavernous Hoax Scanner">
    <meta property="og:image" content="../images/side-img.png" name="og:image">
    <meta itemprop="image" content="https://kidKrishkode.github.io/CavernousHoaxScanner.github.io/images/side-img.png">
    <meta property="og:site_name" content="Cavernous Hoax Scanner">
    <meta property="twitter:image" content="https://kidKrishkode.github.io/CavernousHoaxScanner.github.io/images/side-img.png">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:title" content="Cavernous Hoax Scanner">
    <meta content="CHS is a web-based platform for deepfake detection that leverages JPEN stack technology to implement deep learning algorithms, specifically CNN, GANs, Logistic regression." lang="en-us" name="description">
    <meta content="Cavernous Hoax Scanner, Deepfake Detector, DFD, Image tool, deepfake, image editor, project, CNN, WHITE LOTUS" lang="en-us" name="keywords">
    <title version="1.0">Cavernous Hoax Scanner</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/App.css"/>
    <link rel="icon" href="../public/favicon.ico"/>
</head>
<style>
    #ou1{
        display: none;
    }
</style>
<body onload="dfd.engine_start();">
    <header id="header">
        <%= header %>
    </header>
    <section class="workspace" id="dfdPage">
        <img src="../images/3d_donut.png" alt="chs" class="right-top-des"/>
        <h2>DeepFake Detector</h2>
        <div class="underline"></div>
        <div class="containers">
            <div class="drop-box">
                <div class="placeholder"><i class="fa fa-file-image-o" style="font-size: 30px;"></i><br>Drag and drop an image or video, or click to select</div>
                <div class="preview"></div>
                <input type="file" id="file-input" accept="image/*, video/*" name="file-input" onchange="dfd.engine_active();">
            </div>
        </div>
        <div class="progress-status">
            <div class="progress">Please wait a little..</div>
        </div>
        <div class="flx containers-option" id="op1">
            <div class="social-opener">
                <i class="fa fa-facebook"></i>
                <i class="fa fa-google"></i>
            </div>
            <div class="process-btn">
                <div class="btn btn-process" onclick="process();">Process</div>
            </div>
        </div>
        <img src="../images/glow1.png" alt="chs" class="left-middle-des"/>
        <img src="../images/3d_atom.png" alt="chs" class="right-middle-des"/>
        <img src="../images/arrow_circle.png" alt="chs" class="left-bottom-des"/>
        <div class="glass-status flx" id="op2">
            <span class="head">Media Accepted:</span><span class="data" id="media-acc">No Media Found!</span>
        </div>
        <div class="glass-status" id="op3">
            <div class="flx">
                <span class="head">Media Type:</span><span class="data" id="media-type">Not Selected!</span>
            </div>
            <div class="flx">
                <span class="head">Media Size:</span><span class="data" id="media-size">Not Selected!</span>
            </div>
            <div class="flx">
                <span class="head">Media Duration:</span><span class="data" id="media-due">Not Selected!</span>
            </div>
            <div class="flx">
                <span class="head">Media Dimantion:</span><span class="data" id="media-diamention">Not Selected!</span>
            </div>
        </div>
        <div class="glass-status" id="ou1">
            <div class="flx">
                <span class="head">Result:</span><span class="data" id="output-result">Not Selected!</span>
            </div>
            <div class="flx">
                <span class="head">Acuracy:</span><span class="data" id="output-accuracy">Not Selected!</span>
            </div>
            <div class="flx">
                <span class="head">Media Size:</span><span class="data" id="output-size">Not Selected!</span>
            </div>
            <div class="flx">
                <span class="head">Prototype 1:</span><span class="data" id="output-prototype1">Not Selected!</span>
            </div>
            <div class="flx">
                <span class="head">Prototype 2:</span><span class="data" id="output-prototype2">Not Selected!</span>
            </div>
            <div class="flx">
                <span class="head">Detect Parameter:</span><span class="data" id="output-para">Not Selected!</span>
            </div>
        </div>
        <div class="htsi appear hide" id="op4">
            <h2>How to Use it.</h2>
            <div class="underline"></div>
            <div class="card-group flo">
                <div class="card">
                    <h4 class="card-title"><span>1</span> Drop your Image or Video</h4>
                    <p class="card-text text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas excepturi facilis libero natus ipsam neque expedita soluta ipsum assumenda unde?</p>
                </div>
                <div class="card">
                    <h4 class="card-title"><span>2</span> Media Get Permite</h4>
                    <p class="card-text text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas excepturi facilis libero natus ipsam neque expedita soluta ipsum assumenda unde?</p>
                </div>
            </div>
            <div class="card-group flo">
                <div class="card">
                    <h4 class="card-title"><span>3</span> Hit The Process</h4>
                    <p class="card-text text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas excepturi facilis libero natus ipsam neque expedita soluta ipsum assumenda unde?</p>
                </div>
                <div class="card">
                    <h4 class="card-title"><span>4</span> Download Report</h4>
                    <p class="card-text text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas excepturi facilis libero natus ipsam neque expedita soluta ipsum assumenda unde?</p>
                </div>
            </div>
        </div>
        <div id="moreProduct" class="appear hide">
            <%= services %>
        </div>
        <div id="customerFeed">
            <%= feed %>
        </div>
        <div id="faq-help" class="appear hide">
            <%= faq %>
        </div>
    </section>
    <footer id="footer">
        <%= footer %>
    </footer>
</body>
<script src="../public/App.js"></script>
<script src="../public/default.min.js"></script>
<script>
    pageSet.push('header','dfdPage','moreProduct','faq-help','footer');
    appearSet.push(['.htsi',380],['#moreProduct',580],['#faq-help', 1180]);
    currentPage.push('index');
    document.getElementById('header').innerHTML = document.getElementById('header').textContent;
    document.getElementById('footer').innerHTML = document.getElementById('footer').textContent;
    document.getElementById('moreProduct').innerHTML = document.getElementById('moreProduct').textContent;
    document.getElementById('faq-help').innerHTML = document.getElementById('faq-help').textContent;
    document.getElementById('customerFeed').innerHTML = document.getElementById('customerFeed').textContent;

    function directUpload(file){
        let extension = 'png';
        const reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = function(){
            const imageData = reader.result;
            fetch('/index/process', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({extension, imageData})
            }).then(response => response.json()).then(data => {
                afterResponce(data, imageData);
            }).catch(e=>console.log(e));
        }
    }
    function process(){
        let fileInput = document.getElementById('file-input');
        if(fileInput.files.length!=0){
            const file = fileInput.files[0];
            document.querySelector('.progress-status').style.display = 'block';
            // system.block_resource({input: "file-input"});
            if(document.getElementById('media-size').textContent.replace('Kb','')*1 > 900){
                compressAndUpload(file, document.getElementById('media-size').textContent.replace('Kb','')*1);
            }else{
                directUpload(file);
            }
        }
    }
    function compressAndUpload(file, size){
        const singlePartsAPI = eval(config.hex.singlePartsAPI);
        const limit = Math.floor(size/900)+2;
        const extension = 'png';
        const reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = function(){
            const imageData = reader.result;
            singlePartsAPI('/load/single', imageData, limit).then((result) => {
                fetch('/index/process', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        extension: extension,
                        img: '',
                        load: 'true'
                    })
                }).then(response => response.json()).then(data => {
                    afterResponce(data, imageData);
                });
            }).catch((error) => {
                console.log("Error sending parts:", error);
            });
        }
    }
    function afterResponce(data, imageData){
        if(typeof data.error !== "undefined"){
            return system.handelPyError(data.error);
        }
        console.log(data);
        document.querySelector('.preview').innerHTML = `<img src=${imageData} alt='loading' id="dimg"/>`;
        document.getElementById('op1').innerHTML = `<div class="btn btn-process" onclick="route('');">Back</div>`;
        document.getElementById('ou1').style.display = 'block';
        document.getElementById('output-result').textContent = data?.result?.class+" "+imageData.split('data:')[1].split('/')[0];
        document.getElementById('output-accuracy').textContent = (data?.result?.accuracy || data?.result?.score) + " %";
        document.getElementById('output-size').textContent = document.getElementById('media-size').textContent;
        document.getElementById('output-prototype1').textContent = `${data?.result?.responce_tree?.prototype_1?.class} (${data?.result?.responce_tree?.prototype_1?.accuracy}%)`;
        document.getElementById('output-prototype2').textContent = `${data?.result?.responce_tree?.prototype_2?.class} (${data?.result?.responce_tree?.prototype_2?.accuracy}%)`;
        document.getElementById('output-para').textContent = ":) Your not write code here!";
        document.getElementById('op2').style.display = 'none';
        document.getElementById('op3').style.display = 'none';
        document.getElementById('op4').style.display = 'none';
        document.getElementById('file-input').disabled = true;
        document.querySelector('.progress-status').style.display = 'none';
    }
</script>
</html>