<section id="<%= id<=1?'privacyPage':'licensePage' %>">
    <div class="head"></div>
    <h2 class="title">Security Document</h2>
    <div class="container">
        <div class="component scroll-style">
            <h5>Last Updated: <%= update %></h5>
            <div class="form-group">
                    <% if (view==0){ %>
                    <div id="privacyData">
                        <h5 class="mac-head">Privacy Policy</h5>
                        <p>Welcome to <%= AppName %>. We are dedicated to protecting your privacy and providing you with
                                a
                                positive experience while
                                using our website and services. This privacy notice will inform you as to how we look
                                after
                                your
                                personal data when you
                                visit our website(regardless of where you visit it from) and tell you about your privacy
                                rights and
                                how the law protects
                                you, only and only when you maintain the given Terms points in that condition.</p>
                        <p>The following privacy policy is being published in accordance with the provisions of the
                            Information
                            Technology Act, 2000
                            ("IT ACT"), Information Technology (Intermediary Guidelines) Rules, 2011, Information
                            Technology
                            (Reasonable Security
                            Practices and Procedures and Sensitive Personal Data or Information) Rules, 2011. This
                            Privacy
                            Policy explains the policy of
                            Organisation's website (hereinafter referred to as "the Website's) and Organisation's mobile
                            application (hereinafter referred to
                            as "the App"), with respect to the disclosure, collection, storage, usage and protection of
                            your
                            information during the course
                            your interaction with the Website. Please read this Privacy Policy carefully and in
                            conjunction
                            with
                            the Terms of Use. If you do
                            not understand this policy or do not accept any part of it, then you should not use the
                            Platform, as
                            the case may be. Your use
                            and/or continued use of the Platform, as the case may be, amounts to expressed consent to
                            the
                            terms
                            of this Privacy Policy as
                            well as the Terms of Use. For the purposes of this Policy, accessing of the Website with any
                            resources/feature made available
                            or uploaded therein or downloaded, embedded therefrom shall collectively be referred to as
                            the
                            "Services". The Website or the
                            App shall be collectively referred to as "the Platform". This Privacy Policy forms part and
                            parcel
                            of the Terms of Use for the
                            Organisation Services and shall be read as a whole. Capitalized terms used here, but
                            undefined,
                            shall have the same meaning
                            as attributed to them in the Terms of Use.</p>
                        <p>Website Name: <%= AppName %><br>
                                Developer Name: <%= developer %>
                        </p>
                        <h5>Information We Collect:</h5>
                        <h6>Personal Information:</h6>
                        <p>At <%= AppName %>, we prioritize the security and privacy of our users by collecting personal
                                information through various
                                sections, including the signup form, new teacher and student addition forms, book entry
                                form, and
                                more. In the signup
                                section, we gather essential details such as the user's name, email, gender, and job
                                position. These
                                details are
                                instrumental in creating a robust and secure user account.<br>
                                Utilizing the collected information, we generate a unique User ID and password,
                                enhancing
                                the
                                protection of each user's
                                account. In the event of a forgotten password, users are prompted to re-enter specific
                                details like
                                name, email, and
                                gender for cross-checking authentication to facilitate a secure password recovery
                                process.<br>
                                Rest assured, the personal information provided by users is stored securely on their
                                devices,
                                ensuring that no external
                                entities can access it without explicit owner permission. Additionally, we employ
                                rigorous
                                security
                                measures, storing the
                                entire dataset in a secure and encrypted format within our database. This commitment to
                                data
                                security underscores our
                                dedication to maintaining a safe and trustworthy platform for our users.</p>
                        <h6>Non-Personal Information:</h6>
                        <p>We also gather non-personal information to enhance user experience and ensure the smooth
                            functionality of our platform.
                            This includes details such as browser information, encompassing the browser name and
                            version.
                            This
                            information aids us
                            in verifying the compatibility of the user's browser with our web features, and we provide a
                            comprehensive list of supported
                            browsers and versions in our 'Terms' section.<br>
                            Additionally, we collect data on internet speed to gauge the user's connectivity quality,
                            ensuring
                            an optimal experience on
                            our website. The acceptable range of internet speed is outlined in our 'Terms' section to
                            keep
                            users
                            informed about the
                            recommended specifications.<br>
                            To tailor our web representation to various devices, we collect information about the device
                            type,
                            whether it be a computer,
                            mobile device, laptop, etc. We believe in optimizing the user interface for the most
                            commonly
                            used
                            devices, and a list of
                            recommended devices is detailed in our 'Terms' section for reference.<br>
                            Furthermore, we gather IP addresses as an additional layer of security and user
                            authentication,
                            leveraging our database to
                            verify user credentials. Rest assured, all collected non-personal information is handled
                            with
                            utmost
                            confidentiality, aligning
                            with our commitment to maintaining a secure and user-friendly online environment.</p>
                        <h6>Information Collected Automatically:</h6>
                        <p>Files: Every time you visit the Platform, Client-side servers automatically receive and log
                            information from your browser
                            and device used to access the Platform (such as IP address, device ID, details of your
                            network
                            operator and type, your operating
                            system, browser type, and version, CPU speed, and connection speed). This enables us to
                            validate
                            you
                            as a User, to understand
                            your usage of the Platform and helps us to make changes and updates most suited to your
                            needs
                            and
                            interests.</p>
                        <p>Mobile Device: When you register your mobile device or use the mobile device to access the
                            Web,
                            In
                            addition to the aforesaid,
                            End-user will also collect device information such as mobile device ID, model, and
                            manufacturer
                            details, operating system etc.
                            for the purpose of improving the web's overall functionality and displaying content
                            according to
                            your preferences.</p>
                        <p>Cookies: Cookies are data files placed on your device, used to keep track of information such
                            as
                            your
                            interaction with social
                            media websites, the content you click on, download, upload or share and other activity on
                            the
                            Platform etc. in order to improve
                            your experience of the Platform by personalizing it to your preferences and usage trends.
                        </p>
                        <p>Beacons: Web beacons are transparent graphic images used in our email communication to you,
                            in
                            order
                            to understand
                            customer behavior and improve the overall quality, functionality, and interactivity of the
                            Platform.
                        </p>
                        <p>Please note that we only use the aforesaid information to communicate with and/or improve the
                            Service
                            and to better
                            understand our users' operating systems, for system administration and to audit the use of
                            the
                            Service. We do not use any
                            of the aforesaid data to identify the name, gender, contact or other personal details of any
                            individual.</p>
                        <h5>How We Use Your Information:</h5>
                        <h6>We use the collected information for the following purposes:</h6>
                        <ul>
                            <li>To verify the authenticity of user accounts, ensuring secure access and protecting
                                against
                                unauthorized usage.</li>
                            <li>Tracking user login activities for enhanced security measures, allowing us to monitor
                                and
                                identify any irregular
                                login patterns.</li>
                            <li>Creating and maintaining secure user accounts by utilizing the collected information to
                                generate
                                unique User IDs
                                and passwords.</li>
                            <li>Continuously improving user experience by analyzing non-personal information, including
                                browser
                                details, internet
                                speed, and device size, to tailor our web representation accordingly.</li>
                            <li>Sending periodic emails, updates, and newsletters to keep users informed about important
                                announcements, new
                                features, and other relevant information.</li>
                            <li>Responding to inquiries and providing support by utilizing the collected data to address
                                user
                                queries promptly
                                and effectively.</li>
                            <li>Emphasizing user security as our top priority in our free and open-source web
                                environment,
                                where
                                safeguarding
                                user information is paramount.</li>
                        </ul>
                        <h6>We don't sell or trade:</h6>
                        <p>At <%= AppName %>, we uphold a strict commitment to safeguarding user privacy and maintaining
                                the
                                confidentiality
                                of personal information. Rest assured, we do not engage in the sale or trade of user
                                private
                                information to any
                                external entities, ensuring that your details remain exclusively within the confines of
                                our
                                secure
                                environment.<br>
                                Your personal details are encoded and stored securely on your own device, adding an
                                extra
                                layer of
                                protection
                                against unauthorized access. Our dedication to user security is reflected in our
                                transparent
                                approach—your
                                information is not a commodity for profit.<br>
                                It's important to note that we do not generate revenue by exploiting user data or
                                charging
                                for any
                                features on our
                                platform. <%= AppName %> operates as a free software, emphasizing our commitment to
                                    providing an
                                    open-source environment
                                    without any associated costs. We believe in fostering a trustworthy and secure space
                                    where user
                                    privacy is paramount.
                        </p>
                        <h5>Cookies and Tracking Technologies:</h5>
                        <p>At <%= AppName %>, we utilize cookies and tracking technologies to enhance user experience
                                and
                                optimize
                                web design.
                                Our use of cookies is directed towards improving the functionality of our platform,
                                ensuring
                                a
                                seamless and personalized
                                experience for every user. It's important to note that we strictly employ general and
                                legitimate
                                cookies, such as
                                Bootstrap cookies and CSS cookies, avoiding any harmful or non-legal practices.<br>
                                These cookies also play a pivotal role in tracking usage patterns and collecting
                                demographics
                                information, allowing us
                                to tailor our services to better suit the needs and preferences of our users. While we
                                acknowledge
                                that certain plugins
                                and third-party links within our web environment may also use cookies, we take full
                                responsibility
                                for these cookies
                                and their implications, ensuring a secure and transparent user experience.<br>
                                By using our website, users are considered to have accepted our cookies policy. However,
                                it's
                                essential to understand
                                that disabling or refusing cookies may result in some parts of the website becoming
                                inaccessible or
                                experiencing
                                diminished functionality. We want to emphasize that any misbehavior in web appearance or
                                functionality arising from
                                cookie refusal is not within our responsibility, as we strive to maintain an optimal
                                online
                                experience for all users
                                who embrace our cookies policy.
                        </p>
                        <h5>Third-Party Links:</h5>
                        <p>At <%= AppName %>, we incorporate third-party links, such as Google Maps, library modules,
                                various web
                                APIs, Google
                                Forms, Facebook links, ChatGPT, and more, to enhance the functionality and features of
                                our
                                platform.
                                It's important
                                to note that these third-party links operate independently, and we want to emphasize
                                that we
                                are not
                                responsible for
                                any mispractices or privacy practices associated with these external platforms.<br>
                                As we integrate these links for the convenience and enrichment of user experience, we
                                acknowledge
                                that these third-party
                                platforms may collect and utilize personal data. While we make every effort to ensure
                                the
                                secure
                                handling of your data
                                within our platform, it becomes crucial for users to exercise caution and be mindful of
                                their data
                                privacy when
                                interacting with these external links.<br>
                                It's essential to recognize that we do not have control over the privacy practices or
                                potential
                                vulnerabilities of
                                third-party platforms. Therefore, we encourage users to exercise their own discretion
                                and
                                diligence
                                when engaging with
                                these external links. Your data security is of utmost importance, and we strive to
                                provide a
                                secure
                                environment within
                                our platform. However, the responsibility also lies on the user's side to ensure that
                                personal data
                                is not shared
                                inadvertently. We appreciate your understanding and cooperation in prioritizing data
                                privacy
                                at all
                                times.
                        </p>
                        <h5>Security:</h5>
                        <p>At <%= AppName %>, the security of your personal information is our utmost priority, and we
                                are
                                committed to
                                implementing robust measures to safeguard against unauthorized access, alteration,
                                disclosure, or
                                destruction of your
                                valuable data. Our dedication to user privacy extends to employing reasonable and
                                effective
                                security
                                protocols,
                                ensuring the protection of your personal information throughout your interactions with
                                our
                                platform.<br>
                                To fortify our web data, we utilize the security features provided by our hosting
                                service,
                                including
                                the implementation
                                of a host's proxy, adding an additional layer of defense against potential threats.
                                Moreover, your
                                personal information
                                is encoded and stored securely on your own device, enhancing confidentiality and
                                preventing
                                unauthorized external access.
                                For user authentication during login, we employ a stringent 6-digit system-generated
                                random
                                captcha,
                                designed to bolster
                                the security of login credentials and deter any malicious attempts. These measures
                                collectively
                                contribute to creating
                                a secure online environment, promoting user confidence in the privacy and protection of
                                their
                                sensitive information.
                                We continually strive to stay at the forefront of security practices, ensuring that your
                                experience
                                on our platform
                                remains both enjoyable and safeguarded.
                        </p>
                        <h5>Your Choices:</h5>
                        <p>At <%= AppName %>, we believe in empowering users with choices that allow them to tailor
                                their
                                experience according
                                to their preferences. You have the option to exercise control over the promotional
                                communications
                                you receive from us
                                by opting out through the simple and clear instructions provided in those
                                communications. We
                                respect
                                your decision to
                                manage your interactions with us, ensuring that you only receive the information that is
                                most
                                relevant and desired.<br>
                                Furthermore, we understand that personalization is key to a satisfying user experience.
                                To
                                enhance
                                your engagement with
                                our platform, we provide a range of customizable options, allowing you to modify certain
                                aspects
                                such as theme
                                preferences, sound settings, and more. These choices empower you to curate a
                                personalized
                                and
                                enjoyable experience,
                                aligning with your individual preferences.<br>
                                At <%= AppName %>, we prioritize user autonomy and choices, and our commitment extends
                                    to
                                    fostering an
                                    environment where
                                    users feel in control of their interactions and can seamlessly tailor their
                                    experience
                                    to suit their
                                    unique preferences.
                        </p>
                        <h5>Advertising:</h5>
                        <p>At <%= AppName %>, we may utilize your Search, Contact, Technical, Usage, and Profile Data to
                                enhance
                                your experience
                                through personalized marketing efforts. By leveraging this information, we aim to
                                understand
                                your
                                preferences, needs, and
                                interests, enabling us to tailor advertisements, products, and offers that may be
                                particularly
                                relevant to you. This targeted
                                approach is designed to enhance your overall interaction with our platform and provide
                                you
                                with
                                content that aligns with your
                                preferences.<br>
                                Importantly, we want to assure our users that the information used for advertising
                                purposes
                                is
                                strictly confined within our
                                platform and is not shared with external companies or platforms. Your data remains
                                secure
                                within the
                                confines of our utility,
                                and we adhere to stringent privacy standards to ensure its safety.<br>
                                The products advertised on our platform undergo thorough scrutiny by professionals to
                                ensure
                                they
                                meet legal standards and pose
                                no harm or vulnerability. Our commitment to user safety extends to the meticulous
                                vetting of
                                advertisements, maintaining a
                                secure and trustworthy online environment.<br>
                                For users interested in promoting their products, we offer the opportunity to register
                                with
                                our
                                community to advertise. This
                                ensures a controlled and secure advertising space within our platform, fostering a
                                collaborative and
                                respectful environment
                                for our users.
                        </p>
                        <h5>Refund or Settlement:</h5>
                        <p>At <%= AppName %>, being a free and open-source platform, we operate with a commitment to
                                transparency
                                and user empowerment.
                                As a testament to our ethos, we want to clarify that this website is entirely free of
                                charge, and
                                users are encouraged to
                                utilize and modify the source code for personal use. However, it's crucial to note that
                                selling or
                                renting modified versions of
                                the source code is strictly prohibited, and any mistakes or consequences arising from
                                user-modified
                                versions are not the
                                responsibility of <%= AppName %>.<br>
                                    Given the open-source nature of our platform, we do not refund any amount to users,
                                    as
                                    we do not
                                    charge any money under any
                                    circumstances. We want to caution users about potential fraudulent models or
                                    versions of
                                    our web
                                    that may circulate independently.
                                    We dissociate ourselves from any such practices and emphasize that users should
                                    refrain
                                    from
                                    engaging with or relying on
                                    unauthorized versions, as these may pose security risks or other
                                    vulnerabilities.<br>
                                    In the event of any individual attempting to sell our web or its attached source
                                    code on
                                    other
                                    platforms, users are urged to
                                    take personal responsibility and inform us about such illegal activities promptly.
                                    <%= AppName %> is
                                        not designed for commercial
                                        purposes, and we explicitly state that we are not responsible for any financial
                                        transactions or
                                        activities conducted with the
                                        intent of making money.<br>
                                        Our platform is intended solely for the benefit of users as a free utility, and
                                        any
                                        unauthorized
                                        commercial activities are
                                        disclaimed by <%= AppName %>. We appreciate the cooperation and vigilance of our
                                            user community in
                                            helping us maintain the
                                            integrity and lawful use of our platform.
                        </p>
                        <h5>Be aware of Fake:</h5>
                        <p>Be aware of fake systems claiming to be associated with our web platform. As a free and
                            open-source
                            system, some users
                            may attempt to create their versions using our provided source code. It's important to
                            exercise
                            caution because we cannot
                            guarantee the authenticity or security of systems modified by third parties. We are not
                            responsible
                            for any issues arising
                            from the use of unofficial or custom versions of our platform.<br>
                            If users choose to utilize alternative products and encounter problems, it is considered
                            outside
                            our
                            purview. Users should
                            be cautious when transitioning between our official web platform and any modified systems,
                            as we
                            are
                            not accountable for
                            potential vulnerabilities or data security breaches that may occur.<br>
                            While we encourage users to explore and modify our source code for educational and personal
                            purposes, we emphasize responsible
                            use. Users should refrain from creating versions with malicious intent or engaging in
                            activities
                            that may compromise the security
                            and integrity of our community. It is crucial to ensure that any modifications made using
                            our
                            source
                            code align with ethical and
                            legal standards.
                        </p>
                        <h5>Changes to this Privacy Policy:</h5>
                        <p>At <%= AppName %>, we are committed to maintaining transparency and ensuring that our users
                                are
                                informed about any changes
                                to our Privacy Policy. As part of our ongoing commitment to privacy and security, we
                                reserve
                                the
                                right to update or modify
                                this Privacy Policy at any time without prior notice. The date of the latest revision
                                will
                                always be
                                clearly indicated at
                                the top of this page, allowing users to track the most recent changes.<br>
                                In addition to updating the policy, any alterations or modifications to this privacy
                                statement will
                                be communicated to users
                                through our notification section. We believe in keeping our user community informed and
                                empowered,
                                ensuring that any adjustments
                                made to our privacy practices are clear and accessible to all.<br>
                                It's important to note that changes to this privacy policy may occur for reasons such as
                                identifying
                                potential vulnerabilities,
                                closing any loopholes, or addressing any mistakes. However, these changes will only be
                                implemented
                                by our company, maintaining
                                a centralized and controlled approach to privacy policy updates. We encourage users to
                                play
                                an
                                active role in this process by
                                freely informing us of any identified mistakes or concerns.<br>
                                To provide an additional layer of transparency, it's worth noting that if changes occur
                                automatically, the above-mentioned
                                update time will reflect the most recent modification. This commitment to openness and
                                user
                                engagement underscores our dedication
                                to maintaining a secure and trustworthy online environment for all <%= AppName %> users.
                        </p>
                    </div>
                    <% }else if(view==2){ %>
                        <div class="form-group">
                            <h5 class="mac-head">License</h5>
                            <p class="license"><%= license %></p>
                        </div>
                    <% }else{ %>
                        <div class="form-group">
                            <h5 class="mac-head">Terms &amp; Conditions</h5>
                            <h6>Update Browser:</h6>
                            <p>At <%= AppName %>, we strive to provide our users with the best possible online
                                    experience, and
                                    to
                                    ensure optimal performance
                                    and data privacy, we recommend the use of updated or current versions of specific
                                    browsers.
                                    Utilizing these browsers is crucial
                                    for unlocking all features and adhering to our data privacy policy. It is important
                                    to note
                                    that
                                    failure to follow this
                                    recommendation may result in the user being responsible for any potential data
                                    leakage that
                                    may
                                    occur due to outdated browser
                                    versions.<br>
                                    For your convenience, we have compiled a list of ideal browsers along with their
                                    most recent
                                    or
                                    recommended versions below.
                                    These browsers are considered optimal for accessing our platform and ensuring that
                                    you can
                                    fully
                                    engage with the advanced
                                    features we offer. Please be aware that some advanced features may not be fully
                                    supported or
                                    operational in older browser
                                    versions or non-standard browsers.</p>
                            <ul>
                                <li><b>Chrome</b>: Version 120.0.6099.210 or more then this version</li>
                                <li><b>Microsoft Edge</b>: Version 120.0.2210.126 or more then this version</li>
                                <li><b>Firefox</b>: Version 121.1.0 or more then this version</li>
                                <li><b>Opera Mini</b>: Version 77.0.2254.69831 or more then this version</li>
                                <li><b>Puffin Incognito</b>: Version 10.1.051631 or more then this version</li>
                                <li><b>Vivaldi</b>: Version 6.5.3217.45 or more then this version</li>
                                <li><b>Safari</b>: Version 1.0.0.3 or more then this version</li>
                                <li>etc..</li>
                            </ul>
                            <p>This list represents the most recent or recommended versions of each browser, and it may
                                be
                                subject
                                to change over time as
                                updates and improvements are made. We encourage users to regularly check and update
                                their
                                browsers
                                to ensure compatibility
                                with our evolving platform and to experience a seamless and secure online journey at <%=
                                    AppName %>.
                            </p>
                            <h6>Internet speed:</h6>
                            <p>At <%= AppName %>, we strive to deliver an optimized and seamless online experience for
                                    our
                                    users. To
                                    ensure the best
                                    performance and responsiveness, we recommend a minimum internet speed of
                                    approximately
                                    50kbps to
                                    200kbps or higher. This
                                    speed range is considered ideal for loading web files efficiently and maintaining a
                                    satisfactory
                                    user experience.<br>
                                    It's important to note that a minimum speed of 50kbps is crucial to guarantee proper
                                    loading
                                    of web
                                    files, preventing a
                                    decline in user experience. We want to emphasize that if, for any reason, a user
                                    operates
                                    with an
                                    internet speed below
                                    50kbps, <%= AppName %> cannot be held responsible for potential issues related to
                                        low
                                        loading
                                        speed.<br>
                                        Our commitment to creating an exceptional user experience includes optimizing
                                        the web
                                        platform for
                                        internet speeds
                                        greater than 50kbps. By adhering to this recommendation, users can expect a
                                        faster and
                                        more
                                        responsive interaction
                                        with <%= AppName %>, ensuring a smooth and enjoyable online journey.
                            </p>
                            <h6>Update OS:</h6>
                            <p>At <%= AppName %>, we prioritize the security and seamless functioning of our platform,
                                    and one
                                    fundamental aspect
                                    of this is the use of updated operating systems (OS). We strongly recommend users
                                    consistently
                                    update their OS to the
                                    latest version or the one specified in the provided list.<br>
                                    For your convenience, we have curated a list of recommended operating systems along
                                    with
                                    their
                                    current versions or the
                                    recommended versions. This list is carefully selected to ensure compatibility with
                                    <%= AppName %> and
                                        to provide users
                                        with an enhanced online experience. Using operating systems like Windows, Linux,
                                        Android, iOS, UNIX,
                                        etc., and
                                        maintaining their current versions or the ones suggested in the list is
                                        essential for
                                        both security
                                        and optimal
                                        functionality.</p>
                            <ul>
                                <li><b>Windows OS</b>:
                                    <ul>
                                        <li><b>Windows 11:</b> Version 21H2 or more then this version</li>
                                        <li><b>Windows 10:</b> Version 21H2 or more then this version</li>
                                        <li><b>Windows Server:</b> Version 2022 or more then this version</li>
                                        <li><b>Windows LTSC:</b> Version 2021 or more then this version</li>
                                    </ul>
                                </li>
                                <li><b>Linux OS</b>:
                                    <ul>
                                        <li><b>Ubuntu</b>: Version 22.04 LTS or more then this version</li>
                                        <li><b>Fedora</b>: Version 35 or more then this version</li>
                                        <li><b>CentOS</b>: Version 8.5 or more then this version</li>
                                        <li><b>Debian</b>: Version 11 or more then this version</li>
                                    </ul>
                                </li>
                                <li><b>Android OS</b>: Version 11 or more then this version</li>
                                <li><b>iOS</b>: Version 15 or more then this version</li>
                                <li><b>macOS</b>:
                                    <ul>
                                        <li><b>Catalina</b>: Version 10.15 or more then this version</li>
                                        <li><b>Big Sur</b>: Version 11.0 or more then this version</li>
                                        <li><b>Monterey</b>: Version 12.0 or more then this version</li>
                                        <li><b>Ventura</b>: (anticipated)</li>
                                    </ul>
                                </li>
                                <li>etc..</li>
                            </ul>
                            <p>By adhering to these recommendations, users can enjoy a secure and efficient interaction
                                with
                                <%= AppName %>, minimizing
                                    the risk of potential issues related to outdated operating systems.<br>
                            </p>
                            <h6>Screen Size:</h6>
                            <p>At <%= AppName %>, we are committed to delivering an optimal user experience, and to
                                    achieve
                                    this, we
                                    recommend accessing
                                    our platform through specific devices and screen sizes. We suggest using a Computer,
                                    Laptop,
                                    or
                                    Smartphone to open our
                                    website. It's important to avoid accessing the web through a smartphone's desktop
                                    view or
                                    using any
                                    type of tablet phone.<br>
                                    For an ideal user experience, we advise using a computer or laptop with a screen
                                    size of 13
                                    inches
                                    or more. Alternatively,
                                    for mobile users, we recommend a screen size of 5.5 inches or larger. These screen
                                    size
                                    recommendations are carefully
                                    considered to enhance both user experience and web design.<br>
                                    Maintaining these guidelines is crucial, as an appropriate screen size contributes
                                    to a
                                    better user
                                    experience and ensures
                                    our web design is displayed as intended. We have restricted the desktop vision on
                                    mobile
                                    devices to
                                    prevent any potential
                                    vulnerabilities. Users are encouraged to adhere to these recommendations, and it's
                                    important
                                    to note
                                    that <%= AppName %>
                                        cannot be held responsible for any deviations from these guidelines.
                            </p>
                            <h6>Speaker Active:</h6>
                            <p>Enabling speakers is essential for an optimal user experience on our platform. We assume
                                that
                                users
                                have their device
                                speakers turned on to receive voice messages and interact with our voice assistant
                                effectively.
                                Many
                                operations within our
                                system involve voice communication, and having speakers on allows users to receive
                                important
                                information seamlessly.<br>
                                Users who choose not to enable speakers may miss out on voice messages, impacting their
                                understanding of system alerts and
                                voice-assisted functionalities. While we attempt to send alternative alerts for cases
                                where
                                speakers
                                are off, it may not
                                cover all scenarios, emphasizing the importance of having speakers on.<br>
                                It's important to note that users are not required to turn on their microphone, as our
                                system
                                does
                                not capture or utilize
                                user voice or voice commands. This ensures user privacy and security, as no voice data
                                is made
                                public.<br>
                                Users should exercise caution when using modified or fake versions of our platform that
                                request
                                permissions for voice, camera,
                                or other sensitive features. Unauthorized access to such permissions may pose a security
                                risk,
                                and
                                users are advised to
                                prioritize their safety and use only legal and trustworthy versions of the platform.
                            </p>
                            <h6>Local Storage:</h6>
                            <p>Granting permission for local storage is crucial for a seamless experience on our
                                platform. We
                                utilize local storage and
                                indexed DB to enhance user interactions and provide personalized services. We assume
                                that users
                                allow us access to local
                                storage and disk space as required by indexed DB operations.<br>
                                If a user chooses not to grant this permission, we respect their decision, although it
                                may
                                impact
                                the functionality of
                                certain database-related operations. It is the user's responsibility to allow these
                                permissions
                                for
                                optimal use of our
                                platform features.<br>
                                For users concerned about disk space, we provide an initial small storage limit. As
                                users engage
                                with the platform, they
                                have the option to increase their storage limit. The process for increasing storage is
                                user-friendly, allowing users to
                                request and implement larger storage sizes internally within the software.<br>
                                It's important to note that currently, user data is stored internally on their device.
                                Any
                                future
                                updates enabling data
                                storage on external platforms, such as Google Drive(or any other), will only occur with
                                user
                                consent. We prioritize user
                                control over their data and ensure transparency about where and how their information is
                                stored.
                            </p>
                            <h6>Backup:</h6>
                            <p>In compliance with our terms and conditions, we highlight the importance of data backup
                                to ensure
                                users have control
                                over their information and can safeguard it against unforeseen circumstances. Here are
                                the key
                                points:</p>
                            <ul>
                                <li>We store user data locally on their device, emphasizing the necessity for regular
                                    backups.
                                </li>
                                <li>Our software provides a utility feature allowing users to generate a text/JSON file
                                    as a
                                    backup
                                    of their data.</li>
                                <li>This feature facilitates sharing data with another trusted device or recovering data
                                    from a
                                    backup file.</li>
                                <li>Users can easily back up their data, enabling them to store it in a secure location
                                    or
                                    transfer
                                    it to another
                                    device.</li>
                                <li>If a user attempts to restore data from a corrupt backup file, restoration won't be
                                    possible,
                                    and we disclaim
                                    responsibility for such instances.</li>
                                <li>While users have the flexibility to develop their software using our source code, we
                                    use
                                    local
                                    and indexed DB concepts
                                    for free project development.</li>
                            </ul>
                            <p>We encourage users to leverage this backup feature, enhancing their control over data
                                management
                                and
                                promoting a secure
                                and efficient user experience.
                            </p>
                            <h5>Assumption:</h5>
                            <p>At <%= AppName %>, certain assumptions are made to facilitate a smoother user experience
                                    and to
                                    establish a transparent
                                    understanding between the platform and its users:</p>
                            <ul>
                                <li>We assume that users adhere to the recommended device specifications, including
                                    using a
                                    computer, laptop, or
                                    smartphone of the specified screen sizes, and do not attempt to access the web
                                    through
                                    unconventional methods.</li>
                                <li>It is expected that users regularly update their operating systems to the latest
                                    versions or
                                    as
                                    indicated in the
                                    provided list. This practice ensures compatibility, security, and optimal
                                    functioning of
                                    <%= AppName %>.
                                </li>
                                <li>Before engaging with our web services, we assume that users carefully read,
                                    comprehend, and
                                    agree to the terms
                                    outlined in our privacy policy. Any operations performed on the platform, such as
                                    signing up
                                    or
                                    using various features,
                                    are considered to be in alignment with this assumption.</li>
                                <li>In cases where users neglect to read and understand the privacy policy before
                                    signing up, we
                                    explicitly state that
                                    <%= AppName %> cannot be held responsible for any misunderstandings or misbehavior
                                        within
                                        the
                                        system. The responsibility
                                        lies with the user to familiarize themselves with the terms.
                                </li>
                                <li>If a user opts to download and read the privacy policy after performing operations
                                    on the
                                    platform, it is still
                                    assumed that the user, by using <%= AppName %>, adheres to the terms outlined in
                                        point
                                        number 4.
                                </li>
                            </ul>
                            <p>By making these assumptions, we aim to establish a clear understanding between <%=
                                    AppName %> and
                                    its
                                    users, fostering a
                                    secure and harmonious online environment. Users are encouraged to familiarize
                                    themselves
                                    with our
                                    policies to ensure a seamless
                                    and trouble-free interaction with the platform.</p>
                        </div>
                        <% } %>
                        <% if (view <= 1){ %>
                            <div class="form-group">
                                <h5>Contact Us:</h5>
                                <p>If you have any questions or concerns regarding this Privacy Policy, please contact
                                    us at
                                    <%= contact %>. By using our
                                        website, you agree to the terms outlined in this Privacy Policy. If you want to
                                        see
                                        this
                                        website
                                        license then simply
                                        <i class="fa fa-eye" onclick="system.closePrivacy();system.openLicense();">
                                            Click
                                            here</i>
                                        and see
                                        it.
                                </p>
                                <h5>Disclaimer:</h5>
                                <p>Our Website is not affiliated with any Government or the Government entity. Also, we
                                    are
                                    not
                                    providing any government
                                    related information / Any sensetive information or data (inside our web) to our
                                    customer/user.
                                </p>
                                <p>If you want to download this statments in text file then <i class="fa fa-download"
                                        onclick="system.downloadCode('privacyPage','<%= AppName %> Privacy &amp; Terms.txt');">
                                        Click here</i>.</p>
                            </div>
                        <% } %>
                            <div class="form-group">
                                <div class="flo">
                                    <div class="btn btn-primary" title="Close the Privacy Page and go back"
                                        onclick="system.closePrivacy();">OK, I UNDERSTAND IT</div>
                                </div><br>
                            </div>
            </div>
        </div>
</section>